<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Falaí ADMIN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/iconefalai.png') }}" type="image/x-icon">
</head>
<body class="admin-page">
    <div class="app-container">
        <!-- Navbar do Admin -->
        <nav class="navbar navbar-admin">
            <div class="navbar-header">
                <div class="logo">
                    <img src="{{ url_for('static', filename='icons/iconefalai.png') }}" alt="Falaí Logo">
                </div>
                <span>Falaí ADMIN</span>
            </div>

            <div class="user-profile">
                <div>
                    <img src="{{ url_for('static', filename='icons/perfilplaceholder.png')}}" 
                         alt="Admin" 
                         class="user-avatar">
                    <div class="user-name">{{ session['usuario'] }}</div>
                </div>
            </div>

            <div class="nav-menu">
                <ul>
                    <li>
                        <a href="{{ url_for('admin_index') }}" class="{% if request.endpoint == 'admin_index' %}active{% endif %}">
                            <span class="icon"><img src="static/icons/dashboardicon.png"></span>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('admin_listar_usuarios') }}" class="{% if request.endpoint == 'admin_listar_usuarios' %}active{% endif %}">
                            <span class="icon"><img src="static/icons/usuarioicon.png"></span>
                            <span>Usuários</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('admin_listar_comunidades') }}" class="{% if request.endpoint == 'admin_listar_comunidades' %}active{% endif %}">
                            <span class="icon"><img src="static/icons/comunidadesicon.png"></span>
                            <span>Comunidades</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="nav-footer">
                <a href="{{ url_for('logout') }}">
                    <span class="icon"><img src="static/icons/sairicon.png"></span>
                    <span>Sair</span>
                </a>
            </div>
        </nav>

        <!-- Conteúdo Principal -->
        <main class="main-content">
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>